<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">

</html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Zaka - Investment opportunities</title>
<meta name="description" content="This is the helping website to help each other"/>
<meta name="keywords" content="Best helping, Helping concept, MMM"/>
<meta name="author" content=""/>
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<link href="vendor/magnific/magnific-popup.css" rel="stylesheet" type="text/css"/>
<link href="vendor/owl-carousel/css/owl.carousel.css" rel="stylesheet" type="text/css"/>
<link href="vendor/owl-carousel/css/owl.theme.css" rel="stylesheet" type="text/css"/>
<link href="css/custom.css" rel="stylesheet" type="text/css"/>
<link href="colors/color3.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="js/modernizr.js"></script>
<link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    #modal-body {
        position: absolute;
        top: 50px;
        bottom: 60px;
        width: 100%;
        font-weight: 300;
        overflow: auto;
    }

    #modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }

    #modal-dialog {
        position: fixed;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    #modal-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid #3c7dcf;
        border-radius: 0;
        box-shadow: none;
    }

    /* .modal-header {
         position: absolute;
         top: 0;
         right: 0;
         left: 0;
         height: 50px;
         padding: 10px;
         background: #6598d9;
         border: 0;
     }

     .modal-title {
         font-weight: 300;
         font-size: 2em;
         color: #fff;
         line-height: 30px;
     }


 */

</style>
<body>
<div id="app" class="body">
    <div class="site-header-wrapper">
        <header></header>
        <script type="text/javascript" src="js/modernizr.js"></script>
        <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16"/>
    </div>


    <div class="body">
        <div class="site-header-wrapper">
            <header class="site-header">
                <div class="container">
                    <div class="site-logo"><a href="index.html" class="default-logo"><img src="images/logo.png"
                                                                                          alt="Logo"/></a><a
                            href="index.html" class="default-retina-logo"><img src="images/logo@2x.png" alt="Logo"
                                                                               width="199" height="30"/></a><a
                            href="index.html" class="sticky-logo"><img src="images/sticky-logo.png" alt="Logo"/></a>
                        <a
                                href="index.html" class="sticky-retina-logo"><img src="images/sticky-logo@2x.png"
                                                                                  alt="Logo" width="199"
                                                                                  height="30"/></a>
                    </div>
                    <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
                    <ul class="sf-menu dd-menu pull-right" role="menu">


                        <li><a href="about.html">About</a>
                            <ul>
                                <li><a href="contact.html">About us</a></li>
                                <li><a href="opp.html">Opportunities</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </li>
                        <li><a href="investor-dashboard/index.html"><i class="fa fa-user "></i> My account</a></li>
                        <li><a href="logme.html"><i class="fa fa-user "></i> log out</a></li>
                    </ul>
                </div>
            </header>
        </div>
        <div class="hero-area">
            <div class="page-banner parallax" style="background-image:url('images/cont.jpg' );">
                <div class="container">
                    <div class="page-banner-text">
                        <h1 class="block-title">Investment opportunities</h1></div>
                </div>
            </div>
        </div>
        <!-- Main Content -->
        <div id="main-container">
            <div class="content">
                <div class="container">
                    <div class="grid-filter">
                        <ul class="nav nav-pills sort-source" data-sort-id="gallery" data-option-key="filter">
                            <li data-option-value="*" class="active"><a href="#"><i class="fa fa-th"></i>
                                <span>Show All</span></a>
                            </li>
                            <li data-option-value=".education"><a href="#"><span>Education</span></a></li>
                            <li data-option-value=".wild-life"><a href="#"><span>Short Term Loans</span></a></li>
                            <li data-option-value=".environment"><a href="#"><span>Health</span></a></li>
                            <li data-option-value=".water"><a href="#"><span>Food</span></a></li>
                            <li data-option-value=".human-rights"><a href="#"><span>Agriculture</span></a></li>
                            <li data-option-value=".small-business"><a href="#"><span>Business</span></a></li>
                        </ul>
                    </div>
                    <div class="row" >
                        <div class="grid-item-inner" >
                            <!--<a href="triza.html" class="media-box">
                                <img :src="getUrl(et.CampaignPost[0].CampaignPost.image)" alt="">
                            </a>-->
                            <div class="grid-item-content">
                                <a class="cProgress" data-complete="88" data-color="F23827"
                                   data-toggle="tooltip"></a>
                                <div v-for="et in ent"
                                     class="col-md-4 col-sm-6 grid-item cause-grid-item small-business format-standard">

                                    <h3 class="post-title"><a href="single.html">{{et.Entrepreneur.name}}, a shopkeeper
                                        in
                                        Kawangware</a></h3>

                                    <div class="meta-data">Raised Ksh26,400 / <span
                                            class="cause-target">Ksh30,000</span>
                                    </div>
                                    <a class="btn btn-primary" data-toggle="modal"
                                       data-target="#fsModal" @click="view(et)">View</a>
                                    <div id="fsModal"
                                         class="modal animated bounceIn"
                                         tabindex="-1"
                                         role="dialog"
                                         aria-labelledby="myModalLabel"
                                         aria-hidden="true">

                                        <!-- dialog -->
                                        <div id="modal-dialog" class="modal-dialog">

                                            <!-- content -->
                                            <div id="modal-content" class="modal-content">

                                                <!-- header -->
                                                <div id="modal-header" class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div id="modal-body" class="modal-body">
                                                    <div class="body">

                                                        <!-- Hero Area -->

                                                        <!-- Main Content -->
                                                        <div id="main-container">
                                                            <div class="content">
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-md-8 content-block">
                                                                            <h3>Short term loan for inventory</h3>
                                                                            <div class="post-media">
                                                                                <img :src="getUrl(et.CampaignPost[0].CampaignPost.image)"
                                                                                     alt="">
                                                                            </div>
                                                                            <span class="label label-default">Investment progress</span>
                                                                            <div class="progress">
                                                                                <div style="width: 88%;"
                                                                                     class="progress-bar progress-bar-primary"
                                                                                     data-appear-progress-animation="88%"
                                                                                     data-appear-animation-delay="100"><span
                                                                                        class="progress-bar-tooltip">88%</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="pull-left">Raised
                                                                                <strong>Ksh176,000</strong></div>
                                                                            <div class="pull-right">Goal <strong
                                                                                    class="accent-color">Ksh200,000</strong>
                                                                            </div>
                                                                            <div class="spacer-20"></div>
                                                                            <div class="row">
                                                                                <div class="col-md-5 col-sm-5">
                                                                                    <p class="lead">A group of women going
                                                                                        by
                                                                                        the name "creativity for peace women
                                                                                        chama"
                                                                                        have perfected the art of
                                                                                        traditional
                                                                                        art in weaving, pottery, bead
                                                                                        work,knitting &
                                                                                        sculpting. They supply their art
                                                                                        work
                                                                                        all over the world & have recently
                                                                                        gotten a
                                                                                        deal to supply one of the world's
                                                                                        biggest retail stores in the
                                                                                        world</p>
                                                                                </div>
                                                                                <div class="col-md-7 col-sm-7">
                                                                                    <ul class="list-group">
                                                                                        <li class="list-group-item">Total
                                                                                            Investors<span
                                                                                                    class="badge">2,000</span>
                                                                                        </li>
                                                                                        <li class="list-group-item">Days
                                                                                            left to
                                                                                            investment closure<span
                                                                                                    class="badge">10</span>
                                                                                        </li>
                                                                                        <li class="list-group-item">Counties
                                                                                            helping<span
                                                                                                    class="badge">130</span>
                                                                                        </li>
                                                                                    </ul>
                                                                                    <a href="#"
                                                                                       class="btn btn-primary btn-block"
                                                                                       data-toggle="modal"
                                                                                       data-target="#DonateModal">Invest
                                                                                        Now</a>
                                                                                </div>
                                                                            </div>
                                                                            <p>{{pp}}</p>
                                                                            <p>A group of women going by the name
                                                                                "creativity
                                                                                for peace women chama" have perfected the
                                                                                art
                                                                                of traditional art in weaving, pottery, bead
                                                                                work,knitting & sculpting. They supply their
                                                                                art work all over the world & have recently
                                                                                gotten a deal to supply one of the world's
                                                                                biggest retail stores in the world & are
                                                                                looking
                                                                                for funding for inventory to be able to
                                                                                meet the said orders.This is a short term
                                                                                loan
                                                                                as once they have supplied their artwork
                                                                                they
                                                                                will be paid & return the loan.</p>
                                                                        </div>

                                                                        <!-- Sidebar -->
                                                                        <div class="col-md-4 sidebar-block">

                                                                            <div class="widget sidebar-widget widget_categories">
                                                                                <h3 class="widgettitle">Personal
                                                                                    Profile</h3>
                                                                                <ul>
                                                                                    <li><a href="#">Name :</a> {{name}}</li>
                                                                                    <li><a href="#">Business name :</a>
                                                                                        Tesfa
                                                                                        Enterprises
                                                                                    </li>
                                                                                    <li><a href="#">Location :</a>
                                                                                        {{location}}
                                                                                    </li>
                                                                                    <li><a href="#">Seeking :</a>{{goal}}
                                                                                    </li>


                                                                                </ul>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Site Footer -->
                                                        <div class="site-footer parallax parallax3"
                                                             style="background-image:url('images/parallax3.jpg')">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-md-4 col-sm-4">
                                                                        <div class="widget footer_widget">
                                                                            <h4 class="widgettitle">About Zaka</h4>
                                                                            <p><img src="images/logo.png" alt="logo"/></p>
                                                                            <p>Zaka International is an SME investment
                                                                                company
                                                                                that aims to bridge short-term financing gap
                                                                                of small and medium sized enterprises in
                                                                                Kenya
                                                                                so that they attain scale to large
                                                                                businesses
                                                                                further contributing to wealth generation
                                                                                and
                                                                                employment creation in Kenya and beyond.</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4 col-sm-4">
                                                                        <div class="widget footer_widget widget_links">
                                                                            <h4 class="widgettitle">Links Might Help
                                                                                You</h4>
                                                                            <ul>
                                                                                <li><a href="opp.html">Opportunities </a>
                                                                                </li>
                                                                                <li><a href="about.html">Our mission</a>
                                                                                </li>
                                                                                <li><a href="faq.html">Have Questions?</a>
                                                                                </li>
                                                                                <li><a href="contact.html">Talk to us</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4 col-sm-4">
                                                                        <div class="widget footer_widget">
                                                                            <h4 class="widgettitle">STAY CONNECTED</h4>
                                                                            <p>Contact us at :
                                                                            <h4 class="widgettitle"
                                                                                style="text-transform:lowercase;">
                                                                                info@zaka.co.ke</h4>
                                                                            <ul class="social-icons-rounded social-icons-colored">
                                                                                <a href="#" class="fa fa-facebook"></a>
                                                                                <a href="#" class="fa fa-twitter"></a>
                                                                                <a href="#" class="fa fa-linkedin"></a>
                                                                                <a href="#" class="fa fa-google-plus"></a>
                                                                            </ul>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="site-footer-bottom">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-md-6 col-sm-6">
                                                                        <div class="copyrights-col-left">
                                                                            <p>&copy; 2018 <b>Zaka</b>. All Rights Reserved
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-6"></div>
                                                                    <div class="copyrights-col-right">
                                                                        <ul class="footer-menu">
                                                                            <li><a href="#">Register with us</a></li>
                                                                            <li><a href="#">Login now</a></li>
                                                                            <li><a href="terms.html">Terms &amp;
                                                                                conditions</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
                                                    </div>


                                                    <!-- Donate Form Modal -->
                                                    <div class="modal fade" id="DonateModal" tabindex="-1" role="dialog"
                                                         data-backdrop="static">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal"
                                                                            aria-label="Close"><span
                                                                            aria-hidden="true">&times;</span>
                                                                    </button>
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-sm-6 donate-amount-option">
                                                                            <h4>Amount to invest</h4>
                                                                            <div class="input-group">
                                                                        <span class="input-group-addon"
                                                                              id="basic-addon">Ksh</span>
                                                                                <input v-model="amount" type="number"
                                                                                       class="form-control">
                                                                            </div>
                                                                        </div>
                                                                        <span class="donation-choice-breaker">at</span>
                                                                        <div class="col-md-6 col-sm-6 donate-amount-option">
                                                                            <h4>Interest</h4>
                                                                            <div class="input-group">
                                                                        <span class="input-group-addon"
                                                                              id="basic-addon1">in %</span>
                                                                                <input v-model="intrest" type="number"
                                                                                       class="form-control">
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">


                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer text-align-center">
                                                                    <button @click="offer()" type="button"
                                                                            class="btn btn-primary">Make an
                                                                        offer
                                                                    </button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--<ul class="sort-destination isotope gallery-items" data-sort-id="gallery">

                            <li class="col-md-4 col-sm-6 grid-item cause-grid-item human-rights format-standard">
                                <div class="grid-item-inner">
                                    <a href="triza.html" class="media-box">
                                        <img src="images/post2.jpg" alt="">
                                    </a>
                                    <div class="grid-item-content">
                                        <a class="cProgress" data-complete="88" data-color="F23827"
                                           data-toggle="tooltip"
                                           data-original-title="10 days left"><strong></strong></a>
                                        <h3 class="post-title"><a href="single.html">Triza, a shopkeeper in
                                            Kawangware</a></h3>

                                        <div class="meta-data">Raised Ksh26,400 / <span
                                                class="cause-target">Ksh30,000</span>
                                        </div>
                                        <a href="single.html" class="btn btn-primary">View</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-4 col-sm-6 grid-item cause-grid-item wild-life format-standard">
                                <div class="grid-item-inner">
                                    <a href="triza.html" class="media-box">
                                        <img src="images/post2.jpg" alt="">
                                    </a>
                                    <div class="grid-item-content">
                                        <a class="cProgress" data-complete="88" data-color="F23827"
                                           data-toggle="tooltip"
                                           data-original-title="10 days left"><strong></strong></a>
                                        <h3 class="post-title"><a href="single.html">Triza, a shopkeeper in
                                            Kawangware</a></h3>

                                        <div class="meta-data">Raised Ksh26,400 / <span
                                                class="cause-target">Ksh30,000</span>
                                        </div>
                                        <a href="single.html" class="btn btn-primary">View</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-4 col-sm-6 grid-item cause-grid-item human-rights environment format-standard">
                                <div class="grid-item-inner">
                                    <a href="triza.html" class="media-box">
                                        <img src="images/post2.jpg" alt="">
                                    </a>
                                    <div class="grid-item-content">
                                        <a class="cProgress" data-complete="88" data-color="F23827"
                                           data-toggle="tooltip"
                                           data-original-title="10 days left"><strong></strong></a>
                                        <h3 class="post-title"><a href="single.html">Triza, a shopkeeper in
                                            Kawangware</a></h3>

                                        <div class="meta-data">Raised Ksh26,400 / <span
                                                class="cause-target">Ksh30,000</span>
                                        </div>
                                        <a href="single.html" class="btn btn-primary">View</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-4 col-sm-6 grid-item cause-grid-item human-rights education format-standard">
                                <div class="grid-item-inner">
                                    <a href="triza.html" class="media-box">
                                        <img src="images/post2.jpg" alt="">
                                    </a>
                                    <div class="grid-item-content">
                                        <a class="cProgress" data-complete="88" data-color="F23827"
                                           data-toggle="tooltip"
                                           data-original-title="10 days left"><strong></strong></a>
                                        <h3 class="post-title"><a href="single.html">Triza, a shopkeeper in
                                            Kawangware</a></h3>

                                        <div class="meta-data">Raised Ksh26,400 / <span
                                                class="cause-target">Ksh30,000</span>
                                        </div>
                                        <a href="single.html" class="btn btn-primary">View</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-4 col-sm-6 grid-item cause-grid-item water environment human-rights format-standard">
                                <div class="grid-item-inner">
                                    <a href="triza.html" class="media-box">
                                        <img src="images/post2.jpg" alt="">
                                    </a>
                                    <div class="grid-item-content">
                                        <a class="cProgress" data-complete="88" data-color="F23827"
                                           data-toggle="tooltip"
                                           data-original-title="10 days left"><strong></strong></a>
                                        <h3 class="post-title"><a href="single.html">Triza, a shopkeeper in
                                            Kawangware</a></h3>

                                        <div class="meta-data">Raised Ksh26,400 / <span
                                                class="cause-target">Ksh30,000</span>
                                        </div>
                                        <a href="single.html" class="btn btn-primary">View</a>
                                    </div>
                                </div>
                            </li>
                        </ul>-->
                    </div>
                    <!-- Page Pagination -->
                    <nav>
                        <ul class="pagination pagination-lg">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="site-footer parallax parallax3" style="background-image:url('images/parallax3.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="widget footer_widget">
                            <h4 class="widgettitle">About Zaka</h4>
                            <p><img src="images/logo.png" alt="logo"/></p>
                            <p>Zaka International is an SME investment company that aims to bridge short-term
                                financing gap of small and medium sized enterprises in Kenya so that they attain
                                scale to large businesses further contributing to wealth generation and employment
                                creation in Kenya and beyond.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="widget footer_widget widget_links">
                            <h4 class="widgettitle">Links Might Help You</h4>
                            <ul>
                                <li><a href="opp.html">Opportunities </a></li>
                                <li><a href="about.html">Our mission</a></li>
                                <li><a href="faq.html">Have Questions?</a></li>
                                <li><a href="contact.html">Talk to us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="widget footer_widget">
                            <h4 class="widgettitle">STAY CONNECTED</h4>
                            <p>Contact us at :
                            <h4 class="widgettitle" style="text-transform:lowercase;">info@zaka.co.ke</h4>
                            <ul class="social-icons-rounded social-icons-colored">
                                <a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-linkedin"></a>
                                <a href="#" class="fa fa-google-plus"></a>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="copyrights-col-left">
                            <p>&copy; 2018 <b>Zaka</b>. All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6"></div>
                    <div class="copyrights-col-right">
                        <ul class="footer-menu">
                            <!-- <li><a href="#">Register with us</a></li>
                            <li><a href="#">Login now</a></li> -->
                            <li><a href="terms.html">Terms &amp; conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a></div>


    <!-- Invest Form Modal -->
    <div class="modal fade" id="DonateModal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 donate-amount-option">
                            <h4>Choose an amount</h4>
                            <ul class="predefined-amount">
                                <li><label><input type="radio" name="donation-amount">Ksh10,000</label></li>
                                <li><label><input type="radio" name="donation-amount">Ksh20,000</label></li>
                                <li><label><input type="radio" name="donation-amount">Ksh30,000</label></li>
                                <li><label><input type="radio" name="donation-amount">Ksh50,000</label></li>
                                <li><label><input type="radio" name="donation-amount">Ksh60,000</label></li>
                            </ul>
                        </div>
                        <span class="donation-choice-breaker">Or</span>
                        <div class="col-md-6 col-sm-6 donate-amount-option">
                            <h4>Enter your own</h4>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Ksh</span>
                                <input type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer text-align-center">
                    <button type="button" class="btn btn-primary">Make your investment now</button>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-2.1.3.min.js"></script>
<script src="vendor/magnific/jquery.magnific-popup.min.js"></script>
<script src="js/ui-plugins.js"></script>
<script src="js/helper-plugins.js"></script>
<script src="vendor/owl-carousel/js/owl.carousel.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/init.js"></script>
<script src="vendor/flexslider/js/jquery.flexslider.js"></script>
<script type="text/javascript"
        src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a0ab968a715c6db"></script>
<script type="text/javascript">
    var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5a0abc2ebb0c3f433d4c9127/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
</body>
<script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
<script src="https://unpkg.com/vue-router"></script>

<script>
    var router = new VueRouter({
        mode: 'history',
        routes: []
    });
    var app = new Vue({
        router,
        el: '#app',
        data: {
            keyword: '',
            ent: [],
            name: '',
            location: '',
            goal: '',
            investorId: '',
            object: null,
            postId: '',
            amount: '',
            intrest: '',
            pp: ''

        },
        methods: {
            view: function (entpr) {
                app.name = entpr.Entrepreneur.name;
                app.location = entpr.Entrepreneur.location;
                app.goal = entpr.CampaignPost[0].CampaignPost.goal
                app.pp = entpr.CampaignPost[0].CampingPost.description
                app.postId = entpr.CampaignPost[0].CampingPost.id

            },
            getEnt: function () {

                var app = this
                var formData = new FormData
                formData.append('function', 'getEntrepreneur')
                formData.append('keyword', '')


                axios.post('https://zaka.nouveta.co.ke/api/index.php', formData)
                    .then(function (response) {
                        app.ent = response.data.data


                    })

                    .catch(function (error) {

                    })
            },
            offer: function () {

                var app = this
                var formData = new FormData
                formData.append('function', 'createOffer')
                formData.append('investor_id', app.investorId)
                formData.append('post_id', app.postId)
                formData.append('amount', app.amount)
                formData.append('interest', app.intrest)
                formData.append('comments', 'some offer')


                axios.post('https://zaka.nouveta.co.ke/api/index.php', formData)
                    .then(function (response) {

                        alert(response.data.message)
                    })

                    .catch(function (error) {

                    })
            },
            gotObject: function () {
                this.object = this.$route.query.objects;
                this.investorId = this.object.data.data.id

            },
            getUrl: function (x) {
                return "https://zaka.nouveta.co.ke/api/uploads/" + x;
            }
        },
        created: function () {
            this.getEnt();
            setInterval(function () {
                this.getEnt();
            }.bind(this), 5000)
        }

    })

</script>

</html>